doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    nav
      <a class="button" href="/">home</a>
      <a class="button" href="/members">view members</a>

    block content
