body {
  padding: 50px;
  font: 14px, Futura, sans-serif;
  background: #f5f5f5;
}

.form-item {
  margin: 10px 0;
}

.pull-right {
  float: right;
}
.add-member, .members {
  height: 40px;
}
.card {
  margin-bottom: 10px;
  background: #f5f5f5;
  box-shadow: 2px 2px 3px #d4d4d4;
}

.flag {
  max-height: 85px;
}
.twitter-handle {
  height: 15px;
}
.location {
  height: 60px;
}
.city {
  margin-right: 5px;
}
