body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.form-item {
  margin: 10px 0;
}

.pull-right {
  float: right;
}
.add-member, .members {
  height: 40px;
}
.card {
  background: #eaeaea;
}
.twitter-handle {
  height: 15px;
}
.location {
  height: 60px;
}
.city {
  margin-right: 5px;
}
